.AdminId-item {
    flex: 1 0 auto;
    text-align: center;
    width: 50%;
}


.AdminId-list {
    display      : flex;
    padding      : 0;
    margin       : auto;
    margin-bottom: 1rem;
    padding-top  : 120px;
}

.AdminId-item a {
    font-size: var(--fz-1);
    padding: 0.5rem 1rem;
    color: var(--black-color);
}

.AdminId-item a.active {
    background-color: var(--cuarto-color);
    color: var(--black-color);
    filter: invert(0);
}

.button_listAdmin {
    border-radius   :    16px;
    background      :  #EFCD6A;
    width           :    80%;
    height          :    120%;
    padding         :    20px ;
}

.AdminId_item__button_listAdmin {
    font-size: var(--fz-1);
    padding  : .5rem 1rem;
    color    : var(--black-color);

}
@media screen and (max-width: 425px) {
    .AdminId-list {

    display: flex;
    padding: 0;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 81px;
    flex-direction: column;
    align-items: center;
    }


    .AdminId-item {
    flex: 1 0 auto;
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    }
}

/* @media screen and (min-width: 900px) {

    .AdminId-list {
            padding-top: 35px;

    }

    .AdminId-item {
    flex: 1 0 auto;
    }


} */
