.AdminId-info {
}

.AdminId-list {
    display: flex;
    padding: 0;
    overflow-x: scroll;
    margin: auto;
    margin-bottom: 1rem;
}

.AdminId-item a {
    font-size: var(--fz-1);
    padding: 0.5rem 1rem;
    color: var(--black-color);
}

.AdminId-item a.active {
    background-color: var(--cuarto-color);
    color: var(--black-color);
    filter: invert(0);
}

.button_listAdmin {
    border-radius: 16px;
}

@media screen and (min-width: 425px) {
    .AdminId-list {
        overflow-x: visible;
    }
}

@media screen and (min-width: 900px) {
    .AdminId-info {
    }

    .courseId-list {
        display: flex;
        /* justify-content   : space-around; */
        background-color: var(--whiteSmoke-color);
    }

    .AdminId-item {
        flex: 1 0 auto;
        text-align: center;
    }
}
