.info{
    border: none;
    border-radius: 5px;
    background-color: #efb365;
    padding: 0.5em 3em;
    color: black;
    width: 100%;
}
.success{
   
    border-radius: 5px;
   background-color: #03A713;
    padding: 0.5em 3em;
    color: white;
    width: 100%;
}
.error{
    border-radius: 5px;
   background-color: #F51A1A;
    padding: 0.5em 3em;
    color: white;
    width: 100%;
}