@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

:root {
    --primer-color    : #122b57;
    --segundo-color   : #12676f;
    --tercer-color    : #1aaf99;
    --cuarto-color    : #efb365;
    --quinto-color    : #efcd6a;
    --whiteSmoke-color: #f4f4f4;
    --black-color     : #0a0a09;
    --white-color     : #fff;
    --body-font       : "Lato", sans-serif;

    --transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

    /* Fonts and sizes */
    /*   320   |  1440   */
    --fz-2: clamp(0.87rem, calc(0.88rem + -0.02vw), 0.88rem);
    /* 14.05px - 13.89px */
    --fz-1: clamp(0.94rem, calc(0.9rem + 0.2vw), 1.04rem);
    /*  15px   - 16.67px */
    --fz0 : clamp(1rem, calc(0.9rem + 0.49vw), 1.25rem);
    /*  16px   -  20px   */
    --fz1 : clamp(1.07rem, calc(0.9rem + 0.85vw), 1.5rem);
    /*  17px   -  24px   */
    --fz2 : clamp(1.14rem, calc(0.88rem + 1.29vw), 1.8rem);
    /* 18.22px - 28.80px */
    --fz3 : clamp(1.22rem, calc(0.85rem + 1.84vw), 2.16rem);
    /* 19.44px - 34.56px */
    --fz4 : clamp(1.3rem, calc(0.79rem + 2.53vw), 2.59rem);
    /* 20.74px - 41.47px */
    --fz5 : clamp(1.38rem, calc(0.71rem + 3.37vw), 3.11rem);
    /* 22.13px - 49.77px */
}

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none !important;
    font-family    : var(--body-font);
}

main {
    width  : 100%;
    padding: 20px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color          : var(--black-color);
    display        : block;
}

input,
textarea {
    -webkit-appearance: none;
    appearance        : none;
    outline           : none;
}

li {
    list-style: none;
}

button {
    cursor    : pointer;
    appearance: none;
}
