@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root{

    --primer-color:  #122b57;
    --segundo-color: #12676f;
    --tercer-color: #1aaf99;
    --cuarto-color: #efb365;
    --quinto-color: #efcd6a;
    --whiteSmoke-color: #f4f4f4;
    --black-color:  #0a0a09;
--white-color: #fff;
    --body-font: 'Lato', sans-serif;

    --transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: var(--body-font);
    
}

main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background:var(--white-color);
    color:var(--black-color);
    height: 100vh;
    width: 200px;
    transition: var(--transition);
    overflow: hidden;
    overflow-y: scroll;
}
/*Ocultar scroll para chrome, safari y opera*/
.sidebar::-webkit-scrollbar{
    display: none;
}
/*Ocultar scroll para IE, Edge y Firefox*/
.sidebar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}




.calendar_section{
    height: 100vh;
  padding: 20px;
    transition: var(--transition);
    color:var(--black-color);
    background:var(--white-color);
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
   width: 95%;
   
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: var(--black-color);
    padding: 20px 22px;
    gap: 15px;
    transition:  var(--transition);
    font-weight: 400;
    align-items: center;
   
}
.link:hover{
    background:var(--segundo-color);
    color: var(--white-color);
    transition:  var(--transition);

    
}
.link:hover .icon{
    filter: invert(1);
}
.icon{
    width: 20px;
    
}
.link_text{
    cursor: pointer;
    
}
.active{
    background: var(--segundo-color);
    color:var(--white-color);
}
.active .icon{
    filter: invert(1);
}

.btn_toggle{
    font-size: 20px;
    cursor: pointer;
}

h1{
    padding: 1rem ;
    color: var(--primer-color);
}

.btn_primary{
border: none;
  border-radius: 5px;
  background-color: var(--cuarto-color);
  color: var(--black-color);
  width: 100%;
  cursor: pointer;
  padding: 0.5em 3em;
  font-weight: 600;
}


.btn_primary:hover {
    background-color: var(--quinto-color);
    
  }
  .btn_second{
    border: none;
      border-radius: 5px;
      background-color: var(--tercer-color);
      color: var(--black-color);
      width: 110px;
      cursor: pointer;
      padding: 0.5em 1em;
    font-weight: 600;
    }
    
    
    .btn_second:hover {
        background-color: var(--segundo-color);
        color: var(--whiteSmoke-color);
      }

      .cardMaterias{
        border-radius: 15px !important;
        border: 1px solid var(--primer-color) !important;
        background-color: var(--whiteSmoke-color) !important;
        margin-top: 1rem;
        
    }
    .materia:hover{
        transform: translateX(5px);
    }
    .materia{
        cursor: pointer;
    }
   
    

      @media screen and (max-width: 760px){
        .sidebar{
            display: none;
        }
        .cardMaterias{
            margin: 0.1rem;
        }
       
    }