/* Margin del section */
.section-avisos {
    margin: 0;
}

.h2-avisos {
    font-size: var(--fz1);
    padding: 0rem 1rem 1rem 1rem;
}

.content-aviso {
    font-size: var(--fz-1);
    line-height: 1.4;
}

.titulo-aviso,
.fecha-aviso,
.descripcion-aviso {
    margin: 0;
}

.content-aviso.user {
    /* width: 3rem; */
}

.container-avisos {
    padding: 0;
}

.avisos-li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: thin solid black;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.avisos-li .trash-icon {
    display: flex;
    width: 30%;
    margin-left: auto;
    cursor: pointer;
}

.avisos-li .trash-icon img {
    max-width: 44px;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}

.avisos-li .trash-icon img:hover {
    background-color: red;
}

/* Tamaño de la imagen */
.avisosimg {
    margin-right: 1.5rem;
}

.avisosimg img {
    width: 100%;
    max-width: 84px;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 500px) {
    .avisosimg {
        margin: 0;
    }

    .content-aviso {
        margin-left: 1rem;
    }

    .avisos-li .trash-icon {
        width: 4rem;
        margin-left: auto;
        text-align: left;
    }

    .avisos-li .trash-icon img {
        width: 40%;
        margin: 0;
        border-radius: 50%;
        padding: 0;
        margin-left: auto;
    }

    .avisos-li .trash-icon img:hover {
        background-color: red;
    }
}
