/* Reset */
:root {
    box-sizing:border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Margin del section */
.sectionAvisos {
    margin: 0;
}


.h2_avisos {
    
    font-size: 24px;
    padding: 0rem 1rem 1rem 1rem;
}

.ul_avisos {
    list-style: none;
    padding:0;
}

.ul_avisos li {
    padding: 0;
}
.avisos_li {
    display:flex;
    width: 800px;
    border: thin solid black;
    border-radius: 12px;
    margin-bottom: .5rem;
}

/* Tamaño de la imagen */
.avisosimg {
    width: 8%;
    padding: .5rem;
}


