.react-calendar {
    width : 100%;
    margin: 0 auto;
}

/*  Calendar navigation  */

.react-calendar__navigation {
    display              : grid;
    grid-template-columns: 1fr 10fr 1fr;
    margin-bottom        : 1.5rem;
}

/*  Navigation arrows  */

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
    border          : none;
    background-color: var(--white-color);
    transform       : scale(3) translateY(-2px);
    font-weight     : 200;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}


/*  Navigation label  */
.react-calendar__navigation__label {
    border          : none;
    background-color: var(--white-color);
    font-size       : 1.1rem;
}

/*  Calendar week label */
.react-calendar__month-view__weekdays {
    /* min-width: 300px; */
}

/*  Calendar week eache day  */
.react-calendar__month-view__weekdays__weekday {
    text-transform: uppercase;
    font-size     : var(--fz-2);
    text-align    : center;
    margin-bottom : 1rem;
}

/*  Calendar days  */
.react-calendar__month-view__days {
    display              : grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows   : repeat(5, 1fr);

}

.react-calendar__month-view__days__day {
    border          : none;
    font-size       : var(--fz-1);
    border-radius   : 50%;
    padding         : 11px;
    margin-bottom   : 10px;
    background-color: #fff;
    color           : #656565;
}


.highlight {
    background-color: var(--tercer-color);
    color           : var(--white-color);
}



@media (min-width: 768px) {
    .react-calendar__month-view__days__day {
        border          : none;
        font-size       : var(--fz-2);
        border-radius   : 50%;
        padding         : 16px;
        margin-bottom   : 10px;
        background-color: #fff;
        color           : #656565;
    }

    .highlight {
        background-color: var(--tercer-color);
        color           : var(--white-color);
    }
}

@media (min-width: 900px) {
    .react-calendar__month-view__days__day {
        border          : none;
        border-radius   : 50%;
        padding         : 10px;
        margin-bottom   : 10px;
        background-color: #fff;
        color           : #656565;
    }

    .highlight {
        background-color: var(--tercer-color);
        color           : var(--white-color);
    }
}
