.calendar-table {
    display    : flex;
    align-items: center;
}

.calendar-table-num {
    margin-right    : 1rem;
    margin-top      : -15px;
    font-size       : var(--fz-1);
    background-color: var(--tercer-color);
    color           : var(--white-color);
    padding         : 6px;
    border-radius   : 50%;
}

.calendar-table-text {}

.calendar-table-title {
    font-size: var(--fz-1);
}

.calendar-table-body {
    font-size : var(--fz-2);
    margin-top: -5px;
    font-style: italic;
}

@media screen and (min-width: 900px) {
    .calendar-table {
        margin-left: 1rem;
    }
}
