.cardLesson {
    margin-bottom: 1rem;
    border: 1px solid var(--black-color);
    border-radius: 8px;
}

.cardLesson-item {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.accordion {
    overflow: hidden;
}

.accordion-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--black-color);
    border-radius: 8px;
}

#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8 {
    overflow: hidden;
    border: 1px solid var(--black-color);
    border-radius: 8px;
    border-bottom: none;
}

.accordion-collapse {
    background-color: green;
    background-color: var(--whiteSmoke-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--white-color);
}

.accordion-button:not(.collapsed)::after {
    filter: grayscale(1);
}

.accordion-button {
    background-color: var(--white-color);
    padding: 1rem;
    padding-top: 1.2rem;
}

.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}

.accordionh3 {
    font-size: var(--fz-1);
    color: var(--black-color);
    font-weight: 300;
}

.accordion-body {
    border-radius: 8px;
}

.cardLesson-video {
    width: 95%;
    height: clamp(200px, 10rem + 20vw, 400px);
    display: block;
    margin: auto;
    /* margin-top       : 1rem; */
    padding-bottom: 1rem;
}

.accordion {
    display: block;
}

@media screen and (min-width: 768px) {
    .cardLesson-video {
        margin-top: 1rem;
        padding-bottom: 2rem;
    }
}
.accordion-header{
    display: flex;
}
.accordion-header .icons{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.accordion-header .icons .trash-icon {
    margin-left: auto;
    cursor: pointer;
}

.accordion-header .icons .trash-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}
.accordion-header .icons .edit-icon {
    cursor: pointer;
}

.accordion-header .icons .edit-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}

.accordion-header .icons .trash-icon img:hover {
    background-color: #F51A1A;
}
.accordion-header .icons .edit-icon img:hover {
    background-color: #efcd6a;
}
