.cardActivity {
    margin-bottom: 1rem;
    background-color: var(--whiteSmoke-color);
    border: 2px solid var(--black-color);
    border-radius: 12px;
    padding: 0.8rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fz-1);
}

.cardActivity-status {
    color: #656565;
    margin-right: 0.2rem;
}

.cardActivity-text {
    line-height: 1;
    margin-left: 0.2rem;
}

@media screen and (min-width: 768px) {
    .cardActivity {
        background-color: var(--whiteSmoke-color);
        border: 2px solid var(--black-color);
        border-radius: 12px;
        padding: 0.8rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fz-1);
    }

    .cardActivity-status {
        color: #656565;
        margin-right: 1rem;
    }

    .cardActivity-text {
        line-height: 1;
        margin-left: 1rem;
    }

.cardActivity .icons{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cardActivity .icons .trash-icon {
    margin-left: auto;
    cursor: pointer;
}

.cardActivity .icons .trash-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}
.cardActivity .icons .edit-icon {
    cursor: pointer;
}

.cardActivity .icons .edit-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}

.cardActivity .icons .trash-icon img:hover {
    background-color: #F51A1A;
}
.cardActivity .icons .edit-icon img:hover {
    background-color: #efcd6a;
}
}

@media screen and (max-width: 430px){

}
