.btn_primary {
    border: none;
    border-radius: 6px;
    background-color: var(--cuarto-color);
    color: var(--black-color);
    width: 100%;
    cursor: pointer;
    padding: 0.5em 3em;
    font-weight: 500;
}

.btn_primary:hover {
    background-color: var(--quinto-color);
}

.btn_second {
    border: none;
    border-radius: 6px;
    background-color: var(--tercer-color);
    color: var(--black-color);
    width: 110px;
    cursor: pointer;
    padding: 0.5em 1em;
    font-weight: 500;
    align-self: flex-end;
}

.btn_second:hover {
    background-color: var(--segundo-color);
    color: var(--whiteSmoke-color);
}

.courses-card {
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--primer-color);
    background-color: var(--whiteSmoke-color);
    flex: 1 1 auto;
    cursor: pointer;
}

.card-title {
    font-size: var(--fz0);
}

.card-text {
    display: flex;
    justify-content: space-between;
    font-size: var(--fz-1);
}
.card-text .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: auto;
    cursor: pointer;
}
.card-text .trash-icon {
    margin-left: auto;
    cursor: pointer;
}

.card-text .trash-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}
.card-text .edit-icon {
    cursor: pointer;
}

.card-text .edit-icon img {
    max-width: 44px;
    min-width: 40px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    transition: var(--transition);
}

.card-text .trash-icon img:hover {
    background-color: #f51a1a;
}
.card-text .edit-icon img:hover {
    background-color: #efcd6a;
}

.courses-card:hover {
    transition: var(--transition);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: translateY(-4px);
    border: 1px solid var(--black-color);
    background-color: var(--whiteSmoke-color);
    color: var(--segundo-color);
}

@media screen and (max-width: 760px) {
    .sidebar {
        display: none;
    }

    .cardMaterias {
        margin: 0.5rem;
    }
}
