.btn_primary {
    border          : none;
    border-radius   : 5px;
    background-color: var(--cuarto-color);
    color           : var(--black-color);
    width           : 100%;
    cursor          : pointer;
    padding         : 0.5em 3em;
    font-weight     : 600;
}

.btn_primary:hover {
    background-color: var(--quinto-color);
}

.btn_second {
    border          : none;
    border-radius   : 5px;
    background-color: var(--tercer-color);
    color           : var(--black-color);
    width           : 110px;
    cursor          : pointer;
    padding         : 0.5em 1em;
    font-weight     : 600;
}

.btn_second:hover {
    background-color: var(--segundo-color);
    color           : var(--whiteSmoke-color);
}

.courses-card {
    width              : 100%;
    /* max-width       : 230px; */
    border-radius      : 15px;
    border             : 1px solid var(--primer-color);
    background-color   : var(--whiteSmoke-color);
    flex               : 1 1 auto;

}

.card-title {
    font-size: var(--fz0);
}

.card-text {
    font-size: var(--fz-1);
}

.materia:hover {
    transform: translateX(5px);
}

.materia {
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .sidebar {
        display: none;
    }

    .cardMaterias {
        margin: 0.5rem;
    }
}
