.header {
    width           : 100%;
    height          : 3.5rem;
    position        : relative;
    background-color: var(--segundo-color);
    display         : flex;
}

.header-backarrow {
    width           : 20%;
    max-width       : 2.5rem;
    margin          : 1rem;
    cursor          : pointer;
    border          : none;
    background-color: transparent;
}

.header-button {
    width           : 2rem;
    border          : none;
    background-color: var(--segundo-color);
    margin          : .7rem;
}

.header-button:hover {
    background-color: #093337;
}

@media screen and (min-width: 900px) {
    .header {
        width           : 100%;
        min-width       : 242px;
        height          : 100vh;
        position        : static;
        background-color: #fff;
        margin          : 0;
        padding         : 0;
        padding-left    : 1rem;
        padding-right   : 0.8rem;
        display         : flex;
        flex-direction  : column;
    }

    .header-button,
    .header-backarrow {
        display: none;
    }
}
