
.section-img-name-perfil {
    display:flex;
    width: 100%;
    margin-top: 2.5rem;
}

.img-name-perfil {
    width: 120px;
    border-radius: 50%;
    padding: 1rem;
}

.h1-name-perfil {
    margin-top: 2rem;
}

.clamp-responsive {
    font-size: --var(--fz-2);
}