.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
}

.modal-content__title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}
