.header-nav {}


.header-nav-list {
    padding-left: .5rem;
}

.header-nav-item {
    width: 200px;
}

.header-nav-img {
    width: 13%;
}

.header-nav-link {
    display      : flex;
    align-items  : center;
    padding      : .8rem 1rem;
    border-radius: 12px;
    transition   : var(--transition);
}

.header-nav-link:hover {
    color           : #000;
    background-color: #c9f7f0;
}

.header-nav-item:last-child {
    margin-top   : 3rem;
    border-radius: 12px;

}


.header-nav-img {
    margin-right: .5rem;
    color       : #fff;
}

.header-nav-text {
    color: #000;
}

.active {}