/* Reset */

:root {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* tamaño y margin del section */
.recent_activities {
    margin: 0;
    width: 100%;
}

.recent_activities_h2 {
    font-size: 24px;
    padding: 0rem 1rem 1rem 1rem;
}
/* Display flex para el container */

.recent_activities_container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 0.5rem;
    margin: auto;
    margin-top: 1.5rem;
}
@media screen and (min-width: 900px) {
    .recent_activities_container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .recent_activities_container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 2rem;
    }
}

.recent_activities_item {
    border: thin solid black;
    border-radius: 12px;
    /* width: 25%; */
    position: relative;
}
.recent_activities_item h1 {
    font-size: 1.2em;
    padding: 0.1em;
}

.recent_activities_item h2 {
    font-size: 1em;
    padding-left: 0.1em;
}

.recent_activities_item img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.activities_notification {
    position: absolute;
    background-color: red;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activities_notification span {
    line-height: 1;
    color: white;
}
