.profileProfesorStudentList {
    padding: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.ulprofesor {
    padding: 0;
    background-color: var(--whiteSmoke-color);
}

.imagenprofile {
    width: 20px;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.liprofesor {
    padding: 0.4rem 6rem 0rem 0.4rem;
    border-bottom: thin black solid;
}

.listudent {
    border-bottom: thin black solid;
    padding: 0.4rem 6rem 0.4rem 0.4rem;
}

.courseprofesor {
    font-size: var(--fz-2);
    padding-left: 2rem;
    padding-bottom: 0.3rem;
    margin-left: 0.1rem;
}

.h2-profile {
    font-size: var(--fz0);
    color: var(--primer-color);
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 899px) {
    .profileProfesorStudentList {
        display: none;
    }
}
