.welcome {
    margin: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cuarto-color);
    border-radius: 30px;
    position: relative;
}

.welcome-user {
    width: 100%;
}

.welcome-title {
    font-size: var(--fz3);
    padding-bottom: 0;
    padding-left: 1.5rem;
}

.welcome-body {
    font-size: var(--fz0);
    padding-left: 1.5rem;
}

.welcome_img {
    width: 100%;
    position: relative;
}

.welcome_img img {
    width: 14rem;
    position: relative;
}

.welcome_title {
    font-size: 32px;
    padding-bottom: 0;
    padding-left: 1.5rem;
}

.welcome_body {
    font-size: 16px;
    padding-left: 1.5rem;
}

.welcome_img {
    width: 25%;
    position: absolute;
    top: -70px;
    right: 0;
}

@media screen and (max-width: 760px) {
    .welcome_img {
        width: 20%;
        position: relative;
    }

    .welcome_img img {
        position: absolute;
        width: 10rem;
        top: -2px;
        right: 0;
    }
}

@media screen and (max-width: 414px) {
    .welcome-user {
        width: 90%;
    }

    .welcome_img img {
        position: absolute;
        width: 7rem;
        top: 35px;
        right: -4px;
    }
    .welcome-body {
        padding-left: 0.8rem;
    }
}
