
.welcome {
    margin: .2rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: var(--cuarto-color);
    border-radius: 30px;
    position: relative;                                                       
    
}

.welcome_title {
font-size: 32px;
padding-bottom: 0;
padding-left: 1.5rem;
}

.welcome_body {
font-size: 16px;
padding-left: 1.5rem;
}

.welcome_img {
    width:25%;
    position: absolute;
    top: -15px;
    right: -15px;

}

@media screen and (max-width: 760px){

}
