.welcome {
    width           : 100%;
    background-color: var(--cuarto-color);
    border-radius   : 30px;
    position        : relative;
    padding         : 1rem;
    margin-top      : 1rem;
    margin-bottom   : 1.5rem;
}

.welcome-user {
    width: 100%;
}

.welcome-title {
    font-size: var(--fz1);
    margin   : 0;
}

.welcome-body {
    font-size: var(--fz0);
    margin   : 0;
}

.welcome-img {
    position: absolute;
    top     : 0;
    right   : 0;
    width   : clamp(6rem, 5rem + 10vw, 12rem);
}

.welcome-img img {
    width: 100%;
}

@media screen and (max-width: 400px) {
    .welcome-img {
        display: none;
    }
}

@media screen and (min-width: 760px) {
    .welcome-img {
        transform: translateY(-1rem);
    }


}
